@font-face {
  font-family: "Calibre-Regular";
  src: url("https://s3.us-east-2.amazonaws.com/zagat-fec/Calibre-Regular.woff") format("woff")
}

body {
  font-family: 'Calibre-Regular';
  font: 15px/20px 'Calibre-Regular';
}

@media (min-width: 500) {
  #zagat-app {
    background-color: #f1f1f2;
    padding-top: 5.5vw;
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
    "navbar"
    "carousel"
    "zagat"
    "sidebar"
    "publication"
    "reviews"
    "suggestions"
    "footer"
  }
}  

@media (min-width: 900px) {
  #zagat-app {
    background-color: #f1f1f2;
    padding-top: 5.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    "navbar navbar navbar"
    "carousel carousel carousel"
    "zagat zagat sidebar"
    "publication publication sidebar"
    "reviews reviews sidebar"
    "suggestions suggestions suggestions"
    "footer footer footer";
  }
}

.zagat-img {
  width: 100%;
}

.zagat-details {
  margin: 2em 0em 0em 2em;
}

#zagat-bar {
  grid-area: navbar;
  position: fixed;
  top: 0px;
  z-index: 1;
}

#zagat-carousel {
  width: 100%;
  grid-area: carousel;
}

#zagat-description {
  grid-area: zagat;
}

#zagat-recommendations {
  grid-area: publication;
}

#zagat-info {
  grid-area: sidebar;
  margin: 0em 2em;
}

#zagat-suggestions {
  grid-area: suggestions;
  margin-right: 2em;
}

#zagat-reviews {
  grid-area: reviews;
}

#zagat-footer {
  grid-area: footer;
}